body {
  background: linear-gradient(rgb(80, 56, 235), rgb(8, 2, 31));
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
  margin: 0;
  padding: 8;
}

h1 {
  margin-top: 0;
  text-align: center;
}

h2 {
  margin: 0 0 20px;
}

.container {
  padding: 10px;
}

#new-task {
  align-items: center;
  column-gap: 6px;
  display: grid;
  grid-template-rows: 40px;
  grid-template-columns: 0.7fr 1fr 0.3fr;
  margin-bottom: 10px;
}

#new-task > h2 {
  margin: 0;
}

#new-task > input,
#new-task > button {
  height: 100%;
  border: none;
}

button {
  background-color: rgb(197, 218, 79);
  border: none;
  text-transform: uppercase;
}

#new-task > input {
  font-size: 1em;
}

.task-list > article {
  align-items: center;
  column-gap: 6px;
  display: grid;
  grid-template-columns: 2fr 0.3fr 0.3fr;
  margin-bottom: 10px;
}

.task-list > article > button {
  height: 100%;
}

.task-list > article > button:last-of-type {
  background-color: rgb(201, 31, 31);
}

.task-list > article > p {
  margin: 0;
}

#completed > .task-list > article > p {
  text-decoration: line-through;
}
